.signUpWrapper {
    display: grid;
    /*grid-gap: 10px;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: repeat(4, [row] auto  );*/
    grid-template-rows: 1fr 10fr;
    background-color: #131F2B;
    color: #666666;
    width: 525px;
}

.signUpHeader {
    display: flex;
    grid-row: 1;
    color: #fff;
    justify-content: center;
}

.signUpForm {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    background-color: #282D35;
    border-radius: 16px;
    padding-top: 60px;
}

.formField {
    grid-column: 1/3;
    margin: 2px 10px 2px 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.formInputName {
    color: #666666;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.formFirstName {
    grid-column: 1;
    grid-row: 1;
    padding-right: 5px;
}

.formLastName {
    grid-row: 1;
    grid-column: 2;
    padding-left: 5px;
}

input[type=checkbox] {
    float: left;
    width: 24px;
    height: 24px;
}

.formCheckbox {
    padding-left: 60px;
    grid-column: 1/3;
    margin: 2px 10px 2px 10px;
    padding-top: 15px;
}

.formButton {
    grid-column: 1/3;
    display: flex;
    justify-content: left;
    padding-left: 68px;
    padding-bottom: 50px;
}

input[type=submit]{
    background-color: #2F80ED;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%;
    height: 70%;
    border-radius: 8px;
}