.clientsWrapper {
    display: grid;
    /*grid-gap: 10px;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: repeat(4, [row] auto  );*/
   /* grid-template-rows: 1fr 9fr;*/
    row-gap: 64px;
    background-color: #131F2B;
    width: 1000px;
}

.clientsHeader {
    display: flex;
    grid-row: 1;
    color: #fff;
    justify-content: left;
}

.clientsList{
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    column-gap: 126px;
    row-gap: 46px;
}

.clientElement {
    display: grid;
    grid-column: span 1;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #282D35;
    border-radius: 16px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.clientElement:hover {
    background-color: #4E5867;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.clientPhoto {
    grid-column:1;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: left;
}

.clientStatus {
    color:#fff;
    display: flex;
    justify-content: left;
    grid-row: 1;
    grid-column: 2;
    font-weight: bold;
    align-items: end;
}

.clientName {
    color:#fff;
    display: flex;
    justify-content: left;
    grid-row: 2;
    grid-column: 2;
}

.clientLastRecord {
    color:#fff;
    display: flex;
    justify-content: left;
    align-content: center;
    grid-row: 3;
    grid-column: 1/3;
    align-items: end;
    font-weight: 100;
}

.photo {
    border-radius: 50%;
    width: 50px;
}